this is the resource page

<form class="new-resource" method="POST">

  <p>
    <label for="title">Title</label>
    <br>
    <input type="text" name="title" placeholder="Enter title" />
  </p>

  <p>
    <label for="url">URL</label>
    <br>
    <input type="url" name="url" placeholder="Enter language" />
  </p>

  <p>
    <label for="description">Enter Resource Description</label>
    <br>
    <textarea name="description" rows="8" cols="40"></textarea>
  </p>

  <button type="submit">Submit</button>

</form>
