this is where you add tags to a resource

<form class="new-snippet" method="POST">

  <p>
    <label for="name">Enter tag name</label>
    <br>
    <input type="text" name="tags" placeholder="Enter tag name" />
  </p>

  <button type="submit">Add tag</button>

</form>
