You can add new snippets here


<!-- <form class="new-snippet" action="/artists/new" method="POST"> -->


<form class="new-snippet" method="POST">

  <p>
    <label for="name">Title</label>
    <br>
    <input type="text" name="title" placeholder="Enter title" />
  </p>

  <p>
    <label for="language">Language</label>
    <br>
    <input type="text" name="language" placeholder="Enter language" />
  </p>

  <p>
    <label for="snippet">Enter Code Snippet</label>
    <br>
    <textarea name="snippet" rows="8" cols="40"></textarea>
  </p>

  <button type="submit">Submit</button>

</form>
